#pic
{
	margin-left:25%;
	margin-top:5%;
}
.controls
{
	margin-left:43%;
	margin-top:-120px;
}
.controls2
{
	margin-left:43%;
	margin-top:20px;
}
#footer
{
	background-color:lightgrey;
	margin-top:230px;
}
a:link
{
	color:grey;
	text-decoration:none;
}
a:hover
{
	color:grey;
	text-decoration:underline;
}
.text
{
	margin-left:420px;
}